## 1. There are following datasets that contains both price and calorie information for McDonald's food items:
 -- McDonald's menu item prices        
 -- McDonald's menu item calories

Write a code to merge the two datasets, calculate the price per calorie of food, and stack rank the foods from the best value' (most calories per dollar*) to 'worst value' (least calories per dollar*).

    

*There are of course nuances in nutritional benefits, protein, etc, but we're simplifying here for the purposes of these definitions and assuming someone wants to optimize purely for cost of calories.

In [1]:
import numpy as np
import pandas as pd

In [2]:
ip=pd.read_csv("/Users/ayesha/PythonExercise/InputFiles/mcD_food_prices.csv")
ic=pd.read_csv("/Users/ayesha/PythonExercise/InputFiles/mcD_food_calories.csv")

In [3]:
print(ip.shape,ic.shape)

(58, 2) (58, 2)

In [8]:
df = ip.set_index('Food').join(ic.set_index('Food'))

In [27]:
df['Price_USD'].isnull().values.any()

False

In [30]:
df['pricepercalorie'] = df['Price_USD']/df['Calories']

In [41]:
df.sort_values(by=['pricepercalorie'],ascending= True, inplace=True)

In [42]:
df

                                   Price_USD  Calories  pricepercalorie
Food
Sausage Biscuit                         1.27       430         0.002953
McChicken                               1.07       360         0.002972
Bacon Egg & Cheese Biscuit              1.38       460         0.003000
Sausage McMuffin                        1.27       370         0.003432
Cheeseburger                            1.07       300         0.003567
...                                      ...       ...              ...
Smoothies (small)                       3.09       215         0.014372
Apple Slices                            1.07        70         0.015286
Southwest Salad (Grilled Chicken)       5.13       330         0.015545
Premium McWrap (Grilled Chicken)        4.48       190         0.023579
Side Salad                              1.70        20         0.085000

[66 rows x 3 columns]

### 2.Suppose an individual is taxed 30% if earnings for a given week are > = usd 2,000. If earnings land < usd 2,000 for the week, the individual is taxed at a lower rate of 15%.Write a function using Python to calculate both the pre-tax and post-tax earnings for a given individual, with the ability to feed in the hourly wage and the weekly hours as inputs.   
For example, if an individual earns 
$55/hour and works for 40 hours, the function should return: 
Pre-tax earnings were 55*40 = $2,200 for the week. 
Post-tax earnings were $2,200*.7 (since we fall in higher tax bracket here) = $1,540 for the week

In [53]:
def taxcal(hwage,weeklyhr):
    totaleraning = hwage*weeklyhr
    if (totaleraning < 2000):
        tax = 0.15*totaleraning 
        posttax = 0.85*totaleraning
    if (totaleraning > 2000):
        tax = .3 *totaleraning 
        posttax = 0.7*totaleraning 
    return(posttax)

In [54]:
taxcal(55,40)

1540.0

### 3. U.S. state population statistics 

 Given the following datasets:
   US births/deaths by state
   U.S. population by state

Answer the following questions:
                  
1.Calculate the birth rate and death rate for each state. For the purposes of this question you can define the rate as the # of births/deaths divided by the total population.

2.Create a new column appended to the first dataset with the net population change (births-deaths) by state.

          
3.Using the column from (2), project out the future population by state in 5 years, assuming the population change remains the same (on an absolute/n-count basis). You can assume each state's net transfer in/out rate from folks moving is 0 for this question's sake.
    For example, if CA's population is 30M and the birth-death rate is 150k, then the projected population in 5 years is just 30,000,000 + 150,000*5 = 30.75M.

In [2]:
usbd = pd.read_csv("/Users/ayesha/PythonExercise/InputFiles/us_state_births.csv")
usp = pd.read_csv("/Users/ayesha/PythonExercise/InputFiles/us_state_populations.csv")

In [12]:
usbd.shape

(50, 3)

In [13]:
usp.shape

(50, 2)

In [11]:
df=usbd.set_index('State').join(usp.set_index('State'), how='left')
df.shape

(50, 3)

In [14]:
df

                Births  Deaths  Population
State
Alabama          58941   53238     4887871
Alaska           10445    4411      737438
Arizona          81872   57758     7171646
Arkansas         37520   32588     3013825
California      471658  268189    39865590
Colorado         64382   38063     5695564
Connecticut      35221   31312     3572665
Delaware         10855    9178      967171
Florida         223630  203636    21299325
Georgia         129243   83098    10519475
Hawaii           17517   11390     1420491
Idaho            22181   14011     1754208
Illinois        149390  109721    12741080
Indiana          82170   65597     6691878
Iowa             38430   30530     3156145
Kansas           36519   27063     2911505
Kentucky         54752   48212     4468402
Louisiana        61018   45804     4659978
Maine            12298   14676     1338404
Maryland         71641   49926     6042718
Massachusetts    70702   58803     6902149
Michigan        111426   97602     9995915
Minnesota        68595   44371     5611179
Mississippi      37357   32280     2986530
Missouri         73034   31876     6126452
Montana          11799   10200     1062305
Nebraska         25821   16878     1929268
Nevada           35756   24657     3034392
New Hampshire    12116   12504     1356458
New Jersey      101250   74846     8908520
New Mexico       23767   18673     2095428
New York        229737  155358    19542209
North Carolina  120125   93157    10383620
North Dakota     10737    6415      760077
Ohio            136832  123648    11689442
Oklahoma         50214   40452     3943079
Oregon           43631   36624     4190713
Pennsylvania    137745  135656    12807060
Rhode Island     10638   10157     1057315
South Carolina   57029   49441     5084127
South Dakota     12134    7996      882235
Tennessee        81016   70096     6770010
Texas           382050  198106    29206997
Utah             48585   18035     3161105
Vermont           5655    6007      626299
Virginia        100391   68579     8517685
Washington       87562   56995     7535591
West Virginia    18675   23276     1805832
Wisconsin        64975   52681     5813568
Wyoming           6903    4768      577737

In [20]:
# 1. Birth and death rate
df['birthrate'] = df['Births']/df['Population']
df['deathrate'] = df['Deaths']/df['Population']

In [22]:
#2 . Net population change
df['net_change']= (df['Births']- df['Deaths']).abs()

In [23]:
df

                Births  Deaths  Population  birthrate  deathrate  net_change
State
Alabama          58941   53238     4887871   0.012059   0.010892        5703
Alaska           10445    4411      737438   0.014164   0.005982        6034
Arizona          81872   57758     7171646   0.011416   0.008054       24114
Arkansas         37520   32588     3013825   0.012449   0.010813        4932
California      471658  268189    39865590   0.011831   0.006727      203469
Colorado         64382   38063     5695564   0.011304   0.006683       26319
Connecticut      35221   31312     3572665   0.009858   0.008764        3909
Delaware         10855    9178      967171   0.011223   0.009490        1677
Florida         223630  203636    21299325   0.010499   0.009561       19994
Georgia         129243   83098    10519475   0.012286   0.007899       46145
Hawaii           17517   11390     1420491   0.012332   0.008018        6127
Idaho            22181   14011     1754208   0.012644   0.007987        8170
Illinois        149390  109721    12741080   0.011725   0.008612       39669
Indiana          82170   65597     6691878   0.012279   0.009802       16573
Iowa             38430   30530     3156145   0.012176   0.009673        7900
Kansas           36519   27063     2911505   0.012543   0.009295        9456
Kentucky         54752   48212     4468402   0.012253   0.010790        6540
Louisiana        61018   45804     4659978   0.013094   0.009829       15214
Maine            12298   14676     1338404   0.009189   0.010965        2378
Maryland         71641   49926     6042718   0.011856   0.008262       21715
Massachusetts    70702   58803     6902149   0.010243   0.008520       11899
Michigan        111426   97602     9995915   0.011147   0.009764       13824
Minnesota        68595   44371     5611179   0.012225   0.007908       24224
Mississippi      37357   32280     2986530   0.012508   0.010809        5077
Missouri         73034   31876     6126452   0.011921   0.005203       41158
Montana          11799   10200     1062305   0.011107   0.009602        1599
Nebraska         25821   16878     1929268   0.013384   0.008748        8943
Nevada           35756   24657     3034392   0.011784   0.008126       11099
New Hampshire    12116   12504     1356458   0.008932   0.009218         388
New Jersey      101250   74846     8908520   0.011366   0.008402       26404
New Mexico       23767   18673     2095428   0.011342   0.008911        5094
New York        229737  155358    19542209   0.011756   0.007950       74379
North Carolina  120125   93157    10383620   0.011569   0.008972       26968
North Dakota     10737    6415      760077   0.014126   0.008440        4322
Ohio            136832  123648    11689442   0.011706   0.010578       13184
Oklahoma         50214   40452     3943079   0.012735   0.010259        9762
Oregon           43631   36624     4190713   0.010411   0.008739        7007
Pennsylvania    137745  135656    12807060   0.010755   0.010592        2089
Rhode Island     10638   10157     1057315   0.010061   0.009606         481
South Carolina   57029   49441     5084127   0.011217   0.009725        7588
South Dakota     12134    7996      882235   0.013754   0.009063        4138
Tennessee        81016   70096     6770010   0.011967   0.010354       10920
Texas           382050  198106    29206997   0.013081   0.006783      183944
Utah             48585   18035     3161105   0.015370   0.005705       30550
Vermont           5655    6007      626299   0.009029   0.009591         352
Virginia        100391   68579     8517685   0.011786   0.008051       31812
Washington       87562   56995     7535591   0.011620   0.007563       30567
West Virginia    18675   23276     1805832   0.010341   0.012889        4601
Wisconsin        64975   52681     5813568   0.011176   0.009062       12294
Wyoming           6903    4768      577737   0.011948   0.008253        2135

In [25]:
#3. calculate the population after 5 year
#we have change in population and the poulation at that time

df['pop_5years']= df['Population']+df['net_change']*5

In [26]:
df

,Births,Deaths,Population,birthrate,deathrate,net_change,pop_5years
State,,,,,,,
Alabama,58941,53238,4887871,0.012059,0.010892,5703,4916386
Alaska,10445,4411,737438,0.014164,0.005982,6034,767608
Arizona,81872,57758,7171646,0.011416,0.008054,24114,7292216
Arkansas,37520,32588,3013825,0.012449,0.010813,4932,3038485
California,471658,268189,39865590,0.011831,0.006727,203469,40882935
Colorado,64382,38063,5695564,0.011304,0.006683,26319,5827159
Connecticut,35221,31312,3572665,0.009858,0.008764,3909,3592210
Delaware,10855,9178,967171,0.011223,0.009490,1677,975556
Florida,223630,203636,21299325,0.010499,0.009561,19994,21399295
Georgia,129243,83098,10519475,0.012286,0.007899,46145,10750200
Hawaii,17517,11390,1420491,0.012332,0.008018,6127,1451126
Idaho,22181,14011,1754208,0.012644,0.007987,8170,1795058
Illinois,149390,109721,12741080,0.011725,0.008612,39669,12939425
Indiana,82170,65597,6691878,0.012279,0.009802,16573,6774743
Iowa,38430,30530,3156145,0.012176,0.009673,7900,3195645
Kansas,36519,27063,2911505,0.012543,0.009295,9456,2958785
Kentucky,54752,48212,4468402,0.012253,0.010790,6540,4501102
Louisiana,61018,45804,4659978,0.013094,0.009829,15214,4736048
Maine,12298,14676,1338404,0.009189,0.010965,2378,1350294
Maryland,71641,49926,6042718,0.011856,0.008262,21715,6151293
Massachusetts,70702,58803,6902149,0.010243,0.008520,11899,6961644
Michigan,111426,97602,9995915,0.011147,0.009764,13824,10065035
Minnesota,68595,44371,5611179,0.012225,0.007908,24224,5732299
Mississippi,37357,32280,2986530,0.012508,0.010809,5077,3011915
Missouri,73034,31876,6126452,0.011921,0.005203,41158,6332242
Montana,11799,10200,1062305,0.011107,0.009602,1599,1070300
Nebraska,25821,16878,1929268,0.013384,0.008748,8943,1973983
Nevada,35756,24657,3034392,0.011784,0.008126,11099,3089887
New Hampshire,12116,12504,1356458,0.008932,0.009218,388,1358398
New Jersey,101250,74846,8908520,0.011366,0.008402,26404,9040540
New Mexico,23767,18673,2095428,0.011342,0.008911,5094,2120898
New York,229737,155358,19542209,0.011756,0.007950,74379,19914104
North Carolina,120125,93157,10383620,0.011569,0.008972,26968,10518460
North Dakota,10737,6415,760077,0.014126,0.008440,4322,781687
Ohio,136832,123648,11689442,0.011706,0.010578,13184,11755362
Oklahoma,50214,40452,3943079,0.012735,0.010259,9762,3991889
Oregon,43631,36624,4190713,0.010411,0.008739,7007,4225748
Pennsylvania,137745,135656,12807060,0.010755,0.010592,2089,12817505
Rhode Island,10638,10157,1057315,0.010061,0.009606,481,1059720
South Carolina,57029,49441,5084127,0.011217,0.009725,7588,5122067
South Dakota,12134,7996,882235,0.013754,0.009063,4138,902925
Tennessee,81016,70096,6770010,0.011967,0.010354,10920,6824610
Texas,382050,198106,29206997,0.013081,0.006783,183944,30126717
Utah,48585,18035,3161105,0.015370,0.005705,30550,3313855
Vermont,5655,6007,626299,0.009029,0.009591,352,628059
Virginia,100391,68579,8517685,0.011786,0.008051,31812,8676745
Washington,87562,56995,7535591,0.011620,0.007563,30567,7688426
West Virginia,18675,23276,1805832,0.010341,0.012889,4601,1828837
Wisconsin,64975,52681,5813568,0.011176,0.009062,12294,5875038
Wyoming,6903,4768,577737,0.011948,0.008253,2135,588412

## 4. Given the following dataset, can you create a decision tree to predict customer churn? For simplicity, you can set the maximum depth of the decision tree to 4. For the purpose of this exercise, you do not need to optimize the model. Solution will create a model and decision tree using Python, then discuss interpreting the output.

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/teleco_user_data.csv")

In [5]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No